* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --text-color: #d8d8d8;
  --card-background-color: #2c2c2e;
}

body {
  background-color: #15171e;
  overflow-x: hidden;

  header {
    width: calc(100vw - 16px);
    padding: 0 16px;

    .header__navbar {
      border: 2px solid #ff000015;
      position: fixed;
      z-index: 1;
      width: 102%;
      margin-left: -2rem;
      height: 1px;
      margin-top: -0.8rem;

      .header__navbar__container {
        border: 2px solid #410000;
        padding: 1rem;
        border-radius: 5px;
        max-height: 4.3rem;

        .header__nav__a {
          color: white;
        }
      }
    }

    .carousel {
      height: 50vh;
      margin-bottom: 5vh;

      .carousel-inner {
        height: 100%;
        border-radius: 4px;

        .carousel-item {
          height: 100%;

          .d-block {
            height: 100%;
          }
        }
      }

      .carousel-control-next {
        width: 5%;
      }

      .carousel-control-prev {
        width: 5%;
      }
    }
  }

  main {
    width: calc(100vw - 16px);
    padding: 0 16px;

    .main__title {
      color: aliceblue;
      font-size: x-large;
    }

    .main__primary-card {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 80vh;
      border-radius: 1%;
      cursor: pointer;
      margin-bottom: 5vh;

      .main__new-game {
        position: absolute;
        top: 6px;
        left: 6px;

        p {
          font-weight: bold;
          padding: 0 6px;
          border-radius: 4px;
          background-color: red;
          color: white;
        }
      }

      .img-fluid {
        width: 68%;
        height: 100%;
        border-radius: 4px 0 0 4px;
      }

      .card {
        position: relative;
        width: 32%;
        height: 100%;
        --bs-card-border-width: none;

        .main__top-img-card {
          border-radius: 0 4px 0 0;
          height: 60%;
          background-color: var(--card-background-color);
        }

        .main__card-body {
          height: 40%;
          background-color: var(--card-background-color);
          border-radius: 0 0 4px 0;
          padding: 16px;

          .card-text {
            color: var(--text-color);
          }

          .card-title {
            color: var(--text-color);
          }

          .card-info {
            color: orange;
          }

          .card-category {
            color: var(--text-color);
            font-size: small;
          }

          .price {
            font-weight: bold;
            position: absolute;
            bottom: 1.5em;
          }
        }
      }
    }

    .main__secondary-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 80vh;
      border-radius: 1%;
      cursor: pointer;
      margin-bottom: 5vh;

      .card {
        background-color: var(--card-background-color);
        position: relative;
        width: 32%;
        height: 100%;
        --bs-card-border-width: none;

        .main__new-game {
          position: absolute;
          top: 6px;
          left: 6px;

          p {
            font-weight: bold;
            padding: 0 6px;
            border-radius: 4px;
            background-color: red;
            color: white;
          }
        }

        .card-img-top {
          border-radius: 4px 4px 0 0;
          height: 45%;
          background-color: var(--card-background-color);
        }

        .main__card-body {
          height: 40%;
          background-color: var(--card-background-color);
          border-radius: 0 0 4px 0;
          padding: 16px;

          .card-text {
            color: var(--text-color);
          }

          .card-title {
            color: var(--text-color);
          }

          .card-info {
            color: orange;
          }

          .card-category {
            color: var(--text-color);
            font-size: small;
          }

          .price {
            font-weight: bold;
            position: absolute;
            bottom: 1.5em;
          }
        }
      }
    }
  }
}